*{
	margin: 0;
	padding: 0;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
html{
	font-size: 62.5%;
	background: #fff;
}
body{
	line-height: 1.5;
	font-size: 1.2rem;
}
::selection{
	background: #b3d4fc;
}
a{
	color: #666;
	text-decoration: none;
}
.clearfix:after{
	content:'';
	display: table;
	clear: both;
}
/*header*/
header{
	width: 100%;
}
header .top{
	background: #555;
	line-height: 5rem;
}
header .top .top-content{
	float: left;
	padding: 0 2rem;
	color: #aaaaaa;
}
header .top .top-content span{
	padding: 0 1.5rem;
}
header .top ul{
	text-align: right;
}
header .top ul li{
	display: inline-block;
	padding: 0 1.5rem;
}
header .top ul li+li{
	border-left: 1px solid #aaaaaa;
	line-height: 1rem;
}
header .top ul li a{
	display: inline-block;
	color: #aaaaaa;
}
@media only screen and (max-width: 30rem) {
	header .top .top-content .dz{
		display: none;
	}
	header .top ul li{
		display: inline-block;
		padding: 0 1rem;
	}
}


header .main{
	background: #999999;
}
header .main .logo{
	float: left;
	padding: 2rem 2rem;
}
header .main .logo img{
	width: 257px;
	height: 56px;
}
header .main ul{
	text-align: right;
}
header .main ul li{
	display: inline-block;
	padding: 4rem 1.5rem;
}
header .main ul li a{
	display: inline-block;
	color: #FFFFFF;
	font-size: 1.6rem;
}
@media only screen and (max-width: 50rem) {
	header .main .logo{
		float: none;
		text-align: center;
		display: block;
	}
	header .main ul{
		text-align: center;
	}
	header .main ul li{
		display: inline-block;
		padding: 2rem 1rem;
	}
}
@media only screen and (max-width: 30rem) {
	header .main ul li:nth-child(1){
		display: none;
	}
	header .main ul li{
		display: inline-block;
		padding: 1rem .5rem;
	}
}





/*主体*/
.container{
	width: 100%;
}
.container .ad{
	display: none;
}
.fire-content{
	width: 90%;
	margin: 5rem auto;
	font-size: 0;
}
.fire-content h1{
	text-align: center;
	font-size: 4rem;
}
.fire-content .item{
	display: inline-block;
	width: calc(33.3%-3rem);
	padding: 2rem 1rem;
}
.fire-content .item + .item{
	margin-left: 1.5rem;
}
.fire-content .item img{
	width: 40%;
	height: 30%;
}
.fire-content .item p,
.fire-content .item a{
	text-align: center;
	display: block;
	margin: 0 auto;
	font-size: 1.8rem;
}
@media only screen and (max-width:50rem ) {
	.fire-content .item{
		display: block;
		width: 100%;
		padding: 2rem 0;
	}
	.fire-content .item + .item{
		margin-left: 0rem;
	}
}





.strtive{
	padding: 3rem 0;
	background: #555555;
	border-bottom: 1px solid #ffffff;
	font-size: 0;
}
.strtive-content{
	width: 90%;
	margin: 0 auto;
	color: #fff;
}
.strtive-content h1{
	text-align: center;
	font-size: 4rem;
	color: orange;
}
.strtive-content h3{
	text-align: center;
	font-size: 1.8rem;
	padding: 2rem 0;
}
.strtive-content .item{
	display: inline-block;
	width: calc(25%);
	padding: 2rem 0;
}
.strtive-content  p{
	text-align: center;
	font-size: 1.8rem;
}
.strtive-content .item p{
	font-size: 1.6rem;
	text-align: center;
}
.strtive-content .item p span{
	font-size: 3rem;
	color: orange;
	font-weight: bold;
}
@media only screen and (max-width: 50rem) {
	.strtive-content .item:nth-child(3){
		display: none;
	}
	.strtive-content .item{
		display: inline-block;
		width: calc(33.33333%);
		padding: 2rem 0;
	}
}
@media only screen and (max-width: 30rem) {
	.strtive-content .item:nth-child(4){
		display: none;
	}
	.strtive-content .item{
		width: calc(50%);
	}
	.strtive-content h1{
		font-size: 2.1rem;
	}
	.strtive-content h3{
		font-size: 1.2rem;
	}
}




/*footer*/
footer{
	width: 100%;
	background: #555555;
}
footer .footer-content{
	width: 90%;
	line-height: 5rem;
	margin: 0 auto;
}
footer .footer-content span{
	float: left;
	color: #ffffff;
}
footer .footer-content ul{
	text-align: right;
}
footer .footer-content ul li{
	display: inline-block;
	padding: 0 .5rem;
}
footer .footer-content ul li a{
	display: inline-block;
	color: #ffffff;
	
}
@media only screen and (max-width: 50rem) {
	
	footer .footer-content ul li:nth-child(3),
	footer .footer-content ul li:nth-child(4){
		display: none;
		
	}
	footer .footer-content ul li{
		display: inline-block;
		padding: 0 .3rem;
		
	}
}
@media only screen and (max-width: 30rem) {
	footer .footer-content span{
		display: none;
	}
	footer .footer-content ul li{
		display: inline-block;
		padding: 0 .3rem;
		
	}
}